*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
img{
    display: block;
    max-width: 100%;
}
a{
    text-decoration: none;
    color: inherit;
}
nav ul{
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}
body{
    margin: 0;
    padding: 2.9375rem 3.1875rem;
    font-family: 'roboto', sans-serif;
    background-color:#F6F8FC;
    text-align: center;
}
.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}
@media screen and (width>758px){
    .container{
        flex-direction: row;

    }
}
@media screen and (width>1400px) {
    .container{
        flex-wrap: nowrap;
    }
}
.card{
    width: 16.75rem ;
    padding: 1.875rem;
    border-radius: 0.5rem;
    background-color: #FFF;
    box-shadow: 0.25rem 0.25rem 0.5rem  rgb(0 0 0/ 0.10);
}
@media (hover: hover){
    .card-pink:hover{
    background-color:#F0C8FE;
}
    .card-blue:hover{
        background-color: #CADBFF;
    }
    .card-red:hover{
        background-color: #FFCACA;
    }
    .card-green:hover{
        background-color: #B4FFAF;
    }
}
.image{
    display: flex;
    height:90px;
    width: 90px;
    padding: 1.25rem;
    border-radius: 100%;
    overflow: visible;
    margin-inline: auto;
}
.image-pink{
    background-color: #F7DDFF;
}
.image-blue{
    background-color: #DDE8FF;
}
.image-red{
    background-color: #FFDDDE;  
}
.image-green{
    background-color: #DFFFDD;
}
.title{
    font-weight: 600;
    font-size: 2rem;
    color: #000;
}
.subtitle{
    font-size: 1.5rem;
    font-weight: 400;
    color:#6B6B6B;
}
.caption{
    font-size: 1rem;
    font-weight: 700;
    color: #000;
}
.text{
    font-size: 0.875rem;
    font-weight: 400;
    color: #000;
}